.cardTarefa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius: 5px;
    background-color: #DEDEDE;
    border: 1px solid #CCC;
    font-family: Helvetica;
}

.tarefa{
    font-size: 12px;
}

.hora{
    font-size: 10px;
}

img{
    width: 80px;
    border-radius: 5px;
}