.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;

}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}
.home_container h1 span{
    color: #9b67d6;
    padding: 0 .2em;
    /* background-color: #1f0542; */
}
.home_container p{
    margin-bottom: 1.5em;
    color: #3b0b72;
}
.home_container img{
    width: 800;
    margin: 0;

}
